.picSizeing{
    width: 280px;
    height: 300px;
}
.backgroundColor{
    
    background-image: linear-gradient(45deg,darkblue , skyblue);
}
.backgroundColorButton{
    background-image: linear-gradient(45deg,skyblue,darkblue);
}
.forani{
    position: relative;
    font:14vw;
    color: white;
    -webkit-text-stroke:.05vw rgb(53, 134, 165);
    text-transform: uppercase;
}
h6::before{
    content :attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: blue;
    -webkit-text-stroke: 0vw skyblue;
    border-right: 2px solid blue;
    overflow: hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate
{
    0%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }

}